*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}
header.sticky{
    background: #FFF;
}
header:hover{
    background: #FFF;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}

.logo{
    flex:1;
}
.menu{
    flex:3;
    display:flex;
    padding-top: 15px;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu >li:hover .sub-menu {
    display:block;
    visibility: visible;
    top: 30px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.2s;
    z-index: 1;
    background-color: #f8f6f6
}
.sub-menu ul{
    padding-left: 20px;
}
.sub-menu ul a{
    font-weight: normal!important;
    font-size: 12px!important;
}
.menu li a{
    font-size: 13px;
    font-weight: bold;
    display:block;
    line-height: 20px;
}
.others{
    flex:1;
    display:flex;
    padding-top: 15px;
}
.others > li{
    padding: 0 12px;
    position: relative;
}

.others > li:first-child{
    position: relative;
}
 .others > li:first-child input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #333;
}

.others > li:first-child i{
    position: absolute;
    right: 10px;
}
.aspect-ratio-169{
    display:block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}
.aspect-ratio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dot{
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot:hover{
    background-color: #464444;
}
.dot.active{
    background-color: #000;
}
.site-bottom {
    padding-top: 30px;
    border-bottom: 1px solid #D1D2D4;
}
.container {
    max-width: 100%;
    padding: 15px;
}
.main-footer {
    padding-bottom: 32px;
    justify-content: space-between;
    vertical-align: baseline;
}
.d-flex {
    flex-wrap: wrap;
    display: flex!important;
}

.left-footer {
    max-width: 22.05%;
    width: 100%;
}
.main-footer .top-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-left {
    margin-bottom: 16px;
}
.top-left > div {
    display: inline-block;
    vertical-align: middle;
}
.top-left > div a, .top-left > div img {
    display: block;
}
a {
    text-decoration: none;
}
.main-footer .top-left .logo-footer, .main-footer .top-left .dmca-badge {
    margin-right: 0;
}
.main-footer .top-left .dmca-badge img {
    max-height: 30px;
    border: none;
    max-width: 100%;
    height: auto;
}
.center-footer {
    max-width: 45.2%;
    width: 100%;
    justify-content: space-between;
}
.right-footer {
    max-width: 23.75%;
    width: 100%;
}
.site-bottom-mb {
    display: none;
}

.site-footer {
    padding: 24px 0;
}

.content-ft {
    font-size: 14px;
    line-height: 24px;
    color: #3E3E3F;
}
.center-footer a:hover{
    background-color: #acaaaa;
}
.content-ft p {
    margin-bottom: 12px;
}
.info-left-ft p strong {
    font-weight: 600;
}
.list-social {
    margin-top: 24px;
    margin-bottom: 32px;
}
.list-social li {
    vertical-align: middle;
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
.list-social a img {
    display: block;
    border: none;
    max-width: 100%;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.item-center-ft .title-footer, .info-right-ft .title-footer {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221F20;
    margin-bottom: 20px;
}
.item-center-ft ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #57585A;
    margin-bottom: 16px;
    display: block;
}

.right-footer .register-form {
    padding: 24px 16px;
    background: #FFFFFF;
    border: 6px solid #E7E8E9;
    border-radius: 56px 0px;
    margin-bottom: 32px;
}
.register-form form .form-submit {
    background: #FFF;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    margin-right: 0;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    color: #221F20;
    padding: 12px 27px;
    position: relative;
    z-index: 2;
}

/* Category */
.row{
    display: flex;
    flex-wrap: wrap;
}
.category{
    padding: 100px 0 0;
}
.category .container{
    display: flex;
    padding-left: 20px;
}
.category-top{
    margin-bottom: 50px;
}
.category-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.category-left{
    width: 20%;
}
.category-right{
    width: 80%;
    position: relative;
    margin-bottom: 26px;
    justify-content: end;
}
.category-right-top-items:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.category-right-top-items{
    flex: 1;
    padding: 0 20px;
}
.category-right-top-items button{
    width: 150%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border: 1px solid #000;
    cursor: pointer;
}
.category-right-top-items select{
    width: 400%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border: 1px solid #000;
    cursor: pointer;
}
.category-right-top-items option{
    font-size: 14px;
    font-family: var(--main-text-font);

}
.category-right-content{
    margin-top: 50px;
    justify-content: space-between;
}
.category-right-content-items{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.category-right-content-items h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.category-right-content-items img{
    width: 100%;
}